@import "bootstrap-sprockets";
@import "bootstrap";

body { padding-top: 70px; }

//////////  NAV BAR   ////////
.navbar.navbar-default{
	height: 76px;
	border-radius: 0px;
}

#logo{
	color: red;
	font-size: 25pt;
}

.io_button{
	color: black;
	font-size: 20px;
	margin-top: 20px;
}

.navbar-header{
	margin-top: 10px;
}

////////// HOME PAGE /////////
video#bgvid {
position: fixed; right: 0; bottom: 0;
min-width: 100%; min-height: 100%;
width: auto; height: auto; z-index: -100;
//background: url(polina.jpg) no-repeat;
background-size: cover;
}

.right {
	float: right;
}
.homerow {
	height: 650px;
}

#homerow_one{

}

#homerow_two{
	background-color: white;
}

.jumbotron{
	background-color: rgba(46,46,46,0.5);
	text-align: center;
	color: white;
}


////////// HOME PAGE /////////

.panel{
	max-width: 600px;
	margin: 0 auto;
	margin-top: 50px;
}

////////// LEAGUE NEW /////////
.form_page {
	max-width: 600px;
	margin: 0 auto;
}

////////// PORTAL /////////
#portal{
	margin-top: 15px;
	text-align: center;
	color: white;
}

div#portal.container{
	background-image: url(../assets/hoops.jpg);
	background-size: cover;

}

.title{
	border-radius: 15px;
	border: 2px solid red;
	text-align: center;
}

#myleagues{
	height: 120px;
	overflow: scroll;
}

thead th {
    height: 30px;

    /*text-align: left;*/
}

tbody {
    height: 30px;
    overflow-y: auto;
}