@import "bootstrap-sprockets";
@import "bootstrap";

body { padding-top: 70px; }

video#bgvid {
position: fixed; right: 0; bottom: 0;
min-width: 100%; min-height: 100%;
width: auto; height: auto; z-index: -100;
//background: url(polina.jpg) no-repeat;
background-size: cover;
}

.homerow {
	height: 650px;
}

#homerow_one{

}

#homerow_two{
	background-color: white;
}

.jumbotron{
	background-color: rgba(46,46,46,0.5);
	text-align: center;
	color: white;
}

.navbar.navbar-default{
	height: 76px;
	border-radius: 0px;
}