<nav class="navbar navbar-default navbar-fixed-top container-fluid" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="" href="/leagues">
        <p id="logo">True League Sports</p>
      </a>
    </div>
  	<span class="right">
    	<% if user_signed_in? %>
        <p class="io_button"><%= link_to "Log out", destroy_user_session_path, method: :delete %></p>
      <% else %>
        <p class="io_button"><%= link_to "Sign in", new_user_session_path %></p>
      <% end %>
    </span>
  </div>
</nav>